<div class="position-fixed d-flex top-0 left-0 z-1 py-3 bg-primary w-100">
    <div class="w-50 d-flex align-items-center">
        <div class="circlefy ms-5">
            <img src="https://img.freepik.com/free-vector/open-book-icon-education-symbol-flat-design-vector-illustration_53876-136267.jpg?w=740&t=st=1706113530~exp=1706114130~hmac=f1551940b9dc5015848db5362ba27c0245426b71c8f17df6e920da6cf0cdd53b" alt="" class="img-fluid rounded-5">
        </div>
        <h2 class="mt-3 ms-2 fs-2 text-white">Readonly</h2>
    </div>
    <div class="w-50 d-flex justify-content-evenly align-items-center">
        <button class="btn btn-outline-light rounded-5 ">
            About us
        </button>
        <button class="btn btn-outline-light rounded-5 ">
            Cerca
        </button>
        <button class="btn btn-outline-light rounded-5 ">
            More
        </button>
        <button class="btn btn-outline-light rounded-5 ">
            Info
        </button>
    </div>
</div>
